div(layout="row" flex)
  div(layout="column" id="content" flex)
    md-content(layout="column" flex class="md-padding")
      .cell
        canvas#screen(ng-click='setFocus()' ng-class="focus")
script(src="/javascripts/keysyms-codes.js")
script(src="/javascripts/virtual.js")