md-content(layout="column" flex class="md-padding")
  #headings
    h1(class="md-display-3") Welcome to OSZoo!
    h3(class="md-headline") An OS collection to try in your browser.
  md-divider
  #os-list(layout="row")
    md-list
      md-item(ng-repeat="os in osList")
        md-item-content
          a(href="/computer/?id={{os.id}}")
            md-button(class="md-primary") {{os.title}}