{
  "parser": "babel-eslint",
  "extends": ["airbnb/base", "plugin:react/recommended"],
  "globals": {
    "__DEV__": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
