extends layout

block content
  .main-container(ng-app='OSZoo' ng-controller='AdminController' layout="row")
    div(layout="column")
      //md-sidenav(flex class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')").sidenav-color
        md-button(ng-click="close()" class="md-primary" hide-gt-md) Close Sidenav Left
        #sidenav-logo(layout="column")
          h1 
            a(href="/") Os Zoo
          span 
            a(href="http://wiki.v2.cs.unibo.it/wiki/index.php/Main_Page") a Virtualsquare project
        #sidenav-actions(flex)
          md-button.md-primary Sessions
          md-button.md-primary Operating Systems
    .main(layout="column" flex).md-whiteframe-z2
      md-toolbar(layout="row").md-whiteframe-z2
        div(class="md-toolbar-tools" layout="row")
          md-button(ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn")
            md-icon(aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg")
          h1
            a(href="/") Admin
      .content(layout="row" layout-sm="column")
        div.md-whiteframe-z1.tile(flex)
          md-toolbar(layout="row")
            div(class="md-toolbar-tools" layout="row")
              h1 Operating Systems
              div(flex)
              md-button.md-icon-button(ng-click="showNewOsDialog($event)" aria-label="Plus")
                md-icon(md-svg-icon="images/icons/ic_add_white_24px.svg")
          md-content
            .tileos(ng-repeat="os in osList" layout="row")
              md-button.md-primary(layout="row" flex ng-click="showModifyOsDialog($event, os)")
                span(flex="33") {{os.title}}
                span(flex="66").button-description {{os.description}}
        div.md-whiteframe-z1.tile(flex)
          md-toolbar(layout="row")
            div(class="md-toolbar-tools" layout="row")
              h1 Sessions
              span(flex)
              h1(ng-show="sessions") {{sessions}}/20
          md-content
            .tileos(ng-repeat="client in clients")
              md-button.md-primary(ng-click="showModifyOsDialog($event, os)") {{client.ip}}
