extends layout

block content
  md-content(layout="column" flex)#main
    md-content(layout="column" class="md-padding" flex)#screen-container
      #frame.md-whiteframe-5dp()
        canvas()#screen
        //canvas(ng-controller="ConsoleController")#console
        //md-progress-circular(md-mode="indeterminate" ng-hide="vmIsRunning").screen-progress
