doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
    link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-aria/angular-aria.js")
    script(src="/bower_components/angular-animate/angular-animate.js")
    script(src="/bower_components/angular-material/angular-material.js")
    script(src="/bower_components/angular-route/angular-route.js")
    script(src="/javascripts/keysyms-codes.js")
    script(src="/javascripts/oszoo.js")
    base(href='/')
  body(ng-app='OSZoo' layout="row" ng-controller="HomeController")
    div(layout="column")
      md-sidenav(class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex)
        md-button(ng-click="close()" class="md-primary" hide-gt-md) Close Sidenav Left
        .logo
          img(src="images/v2.png")
          h1 OS Zoo
        md-input-container(class="md-icon-float")
          label Search
          input(ng-model="" type="text")
        a(ng-repeat="os in osList" href="/computer?id={{os.id}}")
          md-button(hide-md show-gt-md) {{os.title}}
    div(layout="column" flex).bg-color
      // Header
      md-toolbar(layout="row" class="md-default-theme").md-whiteframe-2dp
        div(class="md-toolbar-tools")
          md-button(ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn")
            md-icon(aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg")
          div(flex)
          h1.md-toolbar-tools
            a(href="/") Home
          //div(flex)
          //h1.md-toolbar-tools
            a(href="/about") About
      block content
      //div(flex)
      //footer.container
        md-content(class="md-padding" layout="row")
          .md-caption @2015 Alberto Nicoletti
          div(flex)
          .md-caption
            a(href="https://github.com/albyxyz") Github
            a(href="https://twitter.com/albyx93") Twitter 