doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
    link(href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Orbitron:500,400' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-aria/angular-aria.js")
    script(src="/bower_components/angular-animate/angular-animate.js")
    script(src="/bower_components/angular-material/angular-material.js")
    script(src="/bower_components/angular-route/angular-route.js")
    script(src="/javascripts/keysyms-codes.js")
    script(src="/javascripts/oszoo.js")
    base(href='/')
  body(ng-app='OSZoo' layout="row" ng-controller="HomeController")
    div(layout="column").sidenav-color
      md-sidenav(class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')").sidenav-color
        md-button(ng-click="close()" class="md-primary" hide-gt-md) Close Sidenav Left
        #sidenav-logo(layout="column")
          h1 
            a(href="/") Os Zoo
          span 
            a(href="http://wiki.v2.cs.unibo.it/wiki/index.php/Main_Page") a Virtualsquare project
        #sidenav-actions(flex)
          md-input-container
             label Search
             input(ng-model="user.email" type="email")
          div(ng-repeat="os in osList").oslist-animation
            md-button(ng-click="changeOS(os)").md-primary {{os.title}}
    div(layout="column" flex)
      // Header
      md-toolbar(layout="row" class="md-default-theme").md-whiteframe-2dp
        div(class="md-toolbar-tools")
          md-button(ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn")
            md-icon(aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg")
          h1
            a(href="/") {{title}}
      md-subheader.md-primary 
        div(layout="row")
          div
            span.header-description Available sessions
            span.header-value {{sessionsAvailable}}
            md-tooltip How many vm session are available
          div(flex)
          div(ng-show="timer")
            span.header-description Session expires in
            span.header-value {{timer}}
            md-tooltip Time remaining before the vm will shutdown
      block content
