[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
	text-decoration: none;
}

.md-button.md-icon-button.menuBtn {
  margin-top: 6px;
  margin-right: 0;
}

.os-list .md-button {
  color: inherit;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 6px 16px 6px 16px;
}
.os-list .selected {
  color: #03a9f4;
}

.content-wrapper {
	margin: 0 auto 0 auto;
  position: relative;
  width: 60%
}

#primary-col {
  overflow: hidden;
}

#primary-col .md-button {
  margin: 8px auto 16px 0;
}

#primary-col .cell {
  flex: 1 1 auto;
}

#primary-col canvas {
  display: block;
  max-width: 100%;
}

#headings {
	text-align: center;
}

#headings h1 {
	margin-bottom: 17px;
}

#headings h3 {
	margin-top: 17px;
}

#footer a {
	margin: 0px 12px 0px 12px;
}

#footer button {
	margin: 0;
	padding: 0;
}

#screen {
	display: block;
	margin: auto;
}

.screenFocus-add, .screenFocus-remove {
  -webkit-transition:all cubic-bezier(.64,.12,.02,.41) 0.1s;
  -moz-transition:all cubic-bezier(.64,.12,.02,.41) 0.1s;
  -o-transition:all cubic-bezier(.64,.12,.02,.41) 0.1s;
  transition:all cubic-bezier(.64,.12,.02,.41) 0.1s;
}

.screenFocus-add.screenFocus-add-active {
  box-shadow: 0px 0px 40px 5px #009688;
}

.screenFocus-remove.screenFocus-remove-active {
  box-shadow: 0px 0px 60px 20px #FFFFFF;
}

a {
  color: #00B7FF;
}

.view-animate {
    position: relative;
    display: block;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition: 0.3s ease-in all; /* Chrome */
  transition: 0.3s ease-in all;
}

.view-animate.ng-enter {
  opacity: 0;
  top: -20px;
}

.view-animate.ng-enter-active {
  opacity: 1;
  top: 0px;
}

.view-animate.ng-leave {
  display: none;
  top: 0px;
}

.view-animate.ng-leave-active{
  opacity: 0;
  top: -20px;
}