body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.terminaljs {
	background: black;
	color: white;
	font-family: Courier, monospace;
	display:inline-block;
}