a {
	text-decoration: none;
}

.flex {
	display: flex;
	flex-direction: column;
	flex: 1;
}

html {
	@extend .flex;
	width: 100%;
	height: 100%;
}

body {
	@extend .flex;
	margin: 0;
	padding: 0;
}

#app {
	@extend .flex;
}

.vm-container {
	@extend .flex;
}

.vm-screen {
	flex: 1;
}

.hint-container {
	@extend .flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}

.hint {
	text-align: center;
	font-size: 44px;
	font-weight: bold;
	color: #A3A3A3;
}
