div(layout)
  form(name="modifyOsForm")
    input(type="hidden", name="_csrf", value=csrfToken)
    div(layout="row")
      h2 {{os.title}}
      span(flex)
      md-button.md-icon-button(ng-click="deleteOs(os)" aria-label="Delete Os")
        md-icon.deleteIcon(md-svg-icon="images/icons/ic_delete_black_24px.svg")
    div(layout layout-sm="column")
      md-input-container(flex)
        label Title
        input(ng-model="os.title" required)
      md-input-container(flex)
        label Console Title
        input(ng-model="os.consoleTitle" required)
    div(layout layout-sm="column")
      md-input-container(ng-show="os.diskImage" flex)
        label Disk Image
        input(ng-model="os.diskImage")
      md-input-container(ng-show="os.cdrom" flex)
        label CDRom
        input(type="text" ng-model="os.cdrom")
      md-input-container(flex)
        label Architecture
        md-select(ng-model="os.arch" required)
          md-option(value="x86_64") x86_64
          md-option(value="powerpc") PowerPC
          md-option(value="arm") ARM
      md-input-container(flex)
        label Memory
        md-select(ng-model="os.memory" required)
          md-option(value="64") 64
          md-option(value="128") 128
          md-option(value="256") 256
          md-option(value="512") 512
          md-option(value="1024") 1024
    div(layout layout-sm="column")
      md-input-container(flex)
        label Description
        textarea(ng-model="os.description" column="1")
    div.md-actions(layout="row")
      span(flex)
      md-button(ng-click="cancel()" class="md-primary") Cancel
      md-button(ng-click="confirm(os)" class="md-primary") Modify
