doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/stylesheets/animate.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(async src="/javascripts/bundle.js")
    base(href='/')
  body
    block content
