doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Orbitron:500,400' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css')
    script(async src="/javascripts/bundle.js")
    base(href='/')
  body
    block content
